<html>

<head>
    <meta charset="UTF-8">
    <title> Rooms </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-light" href="{{url_for('admin')}}">Home <span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link text-light active" href="{{url_for('adminBooks')}}">All Books</a>
                <a class="nav-item nav-link text-light" href="{{url_for('adminRooms')}}">Rooms</a>
                <a class="nav-item nav-link text-light" href="{{ url_for('logoutAdmin') }}">Logout</a>
            </div>
        </div>
    </nav>
    <section class="h-100 gradient-form" style="background-color: rgba(32, 28, 28, 0.49);">
        <div class="container-xxl h-100" align="center">
            <div class="card rounded text-black" align="center">
                <div class="card-body p-md-5 mx-md-4 " align="center">

                    <div class="text-center">
                        <h2 class="mt-1 mb-5 pb-1">Rooms</h2>
                    </div>
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <h4>Rooms</h4>
                            <form action="{{ url_for('bookRoom') }}" method="post">
                            <p>Please select the date and time slot to book:<br>
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <input type="date" id="bookDate" name="bookDate" value={{minDate}} min={{minDate}}
                                        max={{maxDate}}>
                                </div>
                                <div class="col-lg-6">
                                    <select name=bookTime class="form-select" aria-label="Default select example">
                                        <option selected value="1">8 AM - 10 AM</option>
                                        <option value="2">11 AM - 1 PM</option>
                                        <option value="3">1 PM - 3 PM</option>
                                        <option value="4">4PM - 6 PM</option>
                                    </select>
                                </div>
                            </div>
                            </p>
                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                <table id="dtBasicExample" class="table mx-auto table-sm table-hover table-dark"
                                    style="width: 98%;" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="th-sm">Room Id
                                            </th>
                                            <th class="th-sm">Room Name
                                            </th>
                                            <th class="th-sm">Capacity
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for room in rooms %}
                                        <tr>
                                            <td>{{room[0]}}</td>
                                            <td>{{room[1]}}</td>
                                            <td>{{room[2]}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div><br>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <h4>Reservations</h4>
                            <br><br><br><br>
                            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                <table id="dtBasicExample" class="table mx-auto table-sm table-hover table-dark"
                                    style="width: 98%;" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="th-sm">Customer Id
                                            </th>
                                            <th class="th-sm">Room Number
                                            </th>
                                            <th class="th-sm">Room Name
                                            </th>
                                            <th class="th-sm">Reservation Date
                                            </th>
                                            <th class="th-sm"> Time slot</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for res in reservations %}
                                            <tr>
                                                <td>{{res[5]}}</td>
                                                <td>{{res[1]}}</td>
                                                <td>{{res[2]}}</td>
                                                <td>{{res[3]}}</td>
                                                <td>{{res[4]}}</td>
                                            </tr>
                                            {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="text-danger">{{ msg }}</div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
